<!DOCTYPE html>
{% extends 'myapp/parent.html' %}
<html lang="en" dir="ltr">
    <body>
        {% block for_child %}
        <div class="jambotron">
            <div class="container">
                <h2>Instructions</h2>
                <ul type="none">
                    <li>1.only one attempt you have</li>
                    <li>2.no mall practice is allowed</li>
                    <li>3.no negative marking</li>
                    <li>4.Only 90 minutes will be given</li>
                    <li>5.If you change the tab,you will be blocked immediately</li>
                    <li>6.Test should be taken in exam lab</li>
                    <li>7.Put your signature at the end</li>
                </ul>
            </div>
        </div>
        {% endblock %}
    </body>
</html>